/* Use this sheet to add page customization to Bootstrap components */

body {
  background: #feffde;
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-weight: bold;
}

p {
  font-size: 16px;
}

.jumbotron {
  background: #70af85;
  color: white;
  text-align: center;
}

a {
  color: white !important;
}

.nav.navbar-nav.navbar-right li a {
  color: white;
}

.navbar-collapse {
  border: none;
}

.navbar-form {
  border: none;
}

.icon {
  font-size: 30px;
}

.navbar {
  background-color: red;
  margin-bottom: 0;
  color: white;
  border: none;
  border-radius: 0;
}

#navButton {
  border-color: #ae876d;
}

#navButton:hover {
  background-color: #ae876d;
}

#contactSearchResult {
  display: inline-block;
  margin-top: 1.5em;
}
#contactAddResult {
  display: inline-block;
  margin-bottom: 1.5em;
}

.btn-primary {
  background-color: #ae876d;
  border-color: white;
  border-width: 1px;
}

.btn-primary:hover {
  background-color: #f0e2d0;
  border-color: white;
}
