/* Use this sheet to add page customization to Bootstrap components */

body {
    background: #FEFFDE;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    font-weight: bold;
}

p {
    font-size: 16px;
}

.jumbotron {
    background: #70AF85;
    color: white;
    text-align: center;
}

a {
    color: white !important;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.icon {
    font-size: 30px;
}

.navbar {
    background-color: #52734D;
    margin-bottom: 0;
    color: white;
    border: none;
    border-radius: 0;
}

.navbar-form {
    border: none;
    border-color: red;
}

.btn-primary {
    background-color: #AA8976;
    border-color: white;
}

.btn-primary:hover {
    background-color: #F0E2D0;
    border-color: white;
}